<!DOCTYPE html>
<html>
<head>
    <title>Lot Details</title>
</head>
<body>
<h1>Lot Details</h1>
<div>
    <label>Title:</label>
    <span id="lotTitle"></span>
</div>
<div>
    <label>Description:</label>
    <span id="lotDescription"></span>
</div>
<div>
    <label>Starting Price:</label>
    <span id="lotStartPrice"></span>
</div>
<div>
    <label>Start Date:</label>
    <span id="lotStartDate"></span>
</div>
<div>
    <label>End Date:</label>
    <span id="lotEndDate"></span>
</div>
<div>
    <label>Status:</label>
    <span id="lotStatus"></span>
</div>
</body>
</html>
